@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-button-primary: #5d2d4e;
    --color-button-secondary: #5a4c6e;
    --color-yellow: #05a1ad;
    --color-green: #447390;
    --color-gray: #4e031e;
  }